@inject MainModel Model
    Age: <span style="cursor: pointer" @onclick="@(() => Model.DecrementCommand.Execute(true))">
    <strong>&nbsp;&lt;&nbsp;</strong>
</span>
<input type="range" min="13" max="120" @bind-value="Model.Age"
       @bind-value:event="oninput" />
<span style="cursor: pointer" @onclick="@(() => Model.DecrementCommand.Execute(false))">
    <strong>&nbsp;&gt;&nbsp;</strong>
</span>
<span>@Model.Age</span>
